/*
Theme Name: Go Daddy Bold Stripe
Theme URI: http://godaddy.com
Author: CyberChimps
Author URI: http://www.cyberchimps.com/
Description: A HTML5 Responsive Drag & Drop Starter WordPress Theme by CyberChimps WordPress Themes featuring Twitter Bootstrap, and responsive touch friendly theme options.
Version: 1.2
Tags: white, black, silver, light, two-columns, right-sidebar, fixed-width, flexible-width, custom-background, custom-colors, custom-menu, featured-images, flexible-header, post-formats, theme-options, threaded-comments, sticky-post
License: Proprietary
*/

/********************************************************************************************************************/
/******************************************** FONT ******************************************************************/
/********************************************************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('fonts/leaguegothic-italic-webfont.eot');
    src: url('fonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-italic-webfont.woff') format('woff'),
         url('fonts/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('fonts/leaguegothic-regular-webfont.eot');
    src: url('fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('fonts/leaguegothic-condensed-regular-webfont.eot');
    src: url('fonts/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-condensed-regular-webfont.woff') format('woff'),
         url('fonts/leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
         url('fonts/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed Italic */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('fonts/leaguegothic-condensed-italic-webfont.eot');
    src: url('fonts/leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-condensed-italic-webfont.woff') format('woff'),
         url('fonts/leaguegothic-condensed-italic-webfont.ttf') format('truetype'),
         url('fonts/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg');
    font-weight: normal;
    font-style: italic;
}

/********************************************************************************************************************/
/******************************************** MAIN HTML STYLES ******************************************************/
/********************************************************************************************************************/
body {
	font-family: 'Droid Serif', serif;
	color:#555;
	background: #e2dfd5 url('images/bg.jpg');
}
a {
	color: #f2513c;
}
a:hover {
	color: #ba3e2e;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px;
  font-weight: 400;
}

table .label {
  background: none;
  padding: 7px;
  line-height: normal;
  text-shadow: none;
}
tr {
  border-bottom: 1px solid #ccc;
}
td { 
	padding: 5px 20px;
}
dt {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 26px; 
}
dd {
  margin-bottom: 15px;
  margin-left: 26px;
}
ul, ol { 
	margin: 0 0 10px 0;
}
ol, ul {
  list-style-position: inside;
  margin-left: 21px;
}
pre {
  -moz-border-radius: 0;
  border-radius: 0;
}
code {
	white-space: pre-wrap;
}
header {
	margin-top: 15px;
  margin-bottom: 15px;
}
.clear{
  clear: both;
}
.clear-right {
	clear: right;
}
.clear-left {
	clear: left;
}

/********************************************************************************************************************/
/******************************************** HEADER ****************************************************************/
/********************************************************************************************************************/

.full-width-container {
	width: 100%;
}
.full-width-container.header-full-width {
	position: relative;
	margin-bottom: 40px;
}
.full-width-container .header-image {
	width: 100%;
}
.full-width-container .header-container {
	width: 100%;
	position: absolute;
	top: 0;
	margin-top: 30px;
}
.full-width-container #header_nav_container {
	background-color: #ec2424;
}
.full-width-container .header-image-banner {
	color: #eee;
	position: absolute;
	width: 50%;
	height: 75px;
	top: 0;
	left: 0;
	margin-top: 30px;
	background-color: #ec2424;
}

/*======================================= SOCIAL ==============================================*/

header #social {
	margin-top: 5px;
}
header #social .icons a {
  margin-left: 5px;
}
header #social .icons a img {
	width: 20px;
	height: auto;
}

/*======================================= DETAILS =============================================*/

header#cc-header {
	margin: 0;
}
.header-container h1.site-title {
	font-family: 'League Gothic';
	font-size: 40px;
	line-height: 1em;
	margin: 10px 0 0 0;
	color: #fff;
}
.header-container h1.site-title a {
	color: #fff;
}
.header-container h1.site-title a:hover {
	color: #fff;
	text-decoration: none;
}
.header-container h2.site-description {
	color: #fff;
	font-size: 14px;
	line-height: 1em;
	margin: 5px 0 0 0;
}

/*======================================= SEARCH ===============================================*/

header #search #searchform {
  float: none;
}
header #search #searchform .search-query {
	width: 100px;
	padding: 0 8px;
	margin-top: 20px;
	margin-bottom: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 2em;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

/*==================================== MEDIA QUERIES ===========================================*/

@media (max-width: 979px) {
	.header-container h1.site-title {
		font-size: 30px;
	}
	.header-container h2.site-description {
		font-size: 12px;
	}
}

@media (max-width: 767px) {
	body {
		padding: 0;
	}
	.container {
		padding-right: 20px;
		padding-left: 20px;
	}
	.header-container .container {
		padding: 0;
	}
	.full-width-container .header-image-banner {
		display: none;
	}
	.full-width-container .header-container {
		position: static;
		margin-top: 0;
	}
	.header-container h1.site-title {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.header-image-caption {
		display: none;
	}
	#header_nav_container {
		padding: 5px;
	}
}

@media (max-width: 480px) { 
} 	

/********************************************************************************************************************/
/******************************************** MENU ******************************************************************/
/********************************************************************************************************************/

#navigation {
}
.main-navigation.navbar {
	margin-bottom: 0;
}
.main-navigation .navbar-inner {
	height: 75px;
	padding: 0;
	background: transparent;
	filter: none;
	border: none;
  -webkit-border-radius: 1px;
  border-radius: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.main-navigation .nav {
	float: right;
}
.main-navigation .nav > li {
	height: 75px;
	margin: 0;
	border-left: 1px solid #eb6868;
}
.main-navigation .nav > li > a {
	font-family: 'League Gothic';
	font-size: 20px;
	margin: 30px 15px 10px 15px;
	padding: 0;
	color: #fff;
	text-shadow: none;
	text-transform: uppercase;
}
.main-navigation .nav > li > a:hover {
	color: #fff;
	background: none;
	filter: none;
	border-bottom: 1px solid #fff;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle, .navbar .nav > .current-page-ancestor > a, .navbar .nav > .current-menu-ancestor > a, .navbar .nav > li.current_page_item > a {
	color: #fff;
	text-decoration: none;
	background: none;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px solid #fff;
}
.main-navigation .nav li ul li ul {
  list-style: none;
  margin-left: 0;
}
.main-navigation .nav li ul li ul li a{
  padding-left: 24px;
}
.main-navigation .nav li ul li ul li ul li a {
	padding-left: 30px;
}
.main-navigation .nav li.dropdown:hover ul.dropdown-menu {
  display: block;
	margin-top: 0;
}
.main-navigation .nav li ul li a:hover {
  color: #ec2424;
  background: none;
}
.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
	color: #ec2424;
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	outline: 0;
	filter: none;
}
#navigation #searchform {
	margin-right: 15px;
}

.current-menu-ancestor.dropdown {
	background-color: transparent;
}

.navbar .nav > li.current-menu-ancestor > a {
	color: #fff;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret, .navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret, .navbar .nav li.dropdown > a:hover .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

@media (max-width: 979px) {
	.navbar .btn-navbar {
		margin-bottom: 10px;
		background-color: #f2513c;
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2513c),to(#d03c29));
		background-image: -webkit-linear-gradient(top,#f2513c,#d03c29);
		background-image: -o-linear-gradient(top,#f2513c,#d03c29);
		background-image: linear-gradient(to bottom,#f2513c,#d03c29);
		background-repeat: repeat-x;
		border-color: #d03c29 #d03c29 #ba3e2e;
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2513c',endColorstr='#d03c29',GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	}
	.main-navigation .nav {
		float: none;
	}
	.main-navigation .nav > li {
		height: auto;
		margin: 0;
		border-left: none;
	}
	.navbar .btn-navbar:hover, .navbar .btn-navbar:active, .navbar .btn-navbar.active {
		background-image: none;
		background-color: #ba3e2e;
	}
	.nav-collapse .nav > li > a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.main-navigation .nav > li > a:hover {
		color: #fff;
		background: none;
		filter: none;
		border-bottom: none;
		text-decoration: underline;
	}
	.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle, .navbar .nav > .current-page-ancestor > a, .navbar .nav > .current-menu-ancestor > a, .navbar .nav > li.current_page_item > a {
		border-bottom: none;
		text-decoration: underline;
	}
	.main-navigation .nav li ul li a:hover {
		color: #fff;
	}
	.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
		font-weight: normal;
	}
	.nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:hover {
		color: #fff;
		background: none;
	}
	.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle, .navbar .nav > .current-page-ancestor > a, .navbar .nav > .current-menu-ancestor > a, .navbar .nav li.current_page_item {
		color: #fff;
		background: none;
		text-decoration: underline;
	}
	.nav-collapse .nav > li > ul li a {
		color: #fff;
	}
	.main-navigation .nav li ul li a:hover {
		color: #fff;
		background: none;
		text-decoration: underline;
	}
.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
		color: #fff;
		background-color: transparent;
		background-image: none;
		outline: 0;
		filter: none;
	}
	.nav-collapse .dropdown .caret {
		display: none;
	}
	.nav-collapse .dropdown-menu {
		display: block;
	}
	.nav-collapse .dropdown-menu .active > a {
		color: #fff;
		background-image: none;
	}
}
@media (max-width: 767px) {
	.main-navigation .navbar-inner {
		height: 1px;
	}
	.navbar-inner {
		min-height: 10px;
	}
	.navbar .btn-navbar {
	}
}

/********************************************************************************************************************/
/******************************************** MAIN CONTENT **********************************************************/
/********************************************************************************************************************/

#wrapper {
	margin-bottom: 40px;
}
article.post, article.page, article.attachment {
  margin-bottom: 40px;
  padding: 20px;
  background: #fff;
	border-color: #ddd;
	border-style: double;
	border-width: 10px;
	-moz-border-image: url('images/border.png') 33% repeat;
	-webkit-border-image: url('images/border.png') 33% repeat;
	border-image: url('images/border.png') 33% repeat;
}
.entry-content {
  margin: 20px 0;
}
.page-header {
  margin-top: 0;
  padding: 0;
  border: none;
}
.featured-image {
	margin-top: 4px;
	margin-bottom: 10px;
}
.featured-image img {
	width: 100%;
}

/*==================================== POST AND PAGE CONTENT ===========================================*/

article {
}
.entry-header {
  margin-top: 0;
}
.entry-summary {
  margin: 10px 0;
}
.postformats {
  float: right;
}
blockquote { 
	background-color: #ccc;
	margin: 20px 10px;
	padding: 3px;
}
blockquote p {
  margin: 10px;
}
blockquote cite {
  font-size: 0.9em;
}
blockquote cite:before {
  content: ' ̶ ';
  position: relative;
  top: -2px;
  margin: 0 5px; 
}
.page-links {
  clear: both;
}
.more-content {
  margin-bottom: 15px;
  padding: 10px;
}
a.more-link {
	float: left;
	margin: 10px 0;
	color: #fff;
	font-family: 'League Gothic';
	font-size: 20px;
	text-transform: uppercase;
	background: #000;
	padding: 10px 15px;
}
a.more-link:hover {
	color: #f2513c;
	text-decoration: none;
}
a.excerpt-more {
	float: left;
	margin: 10px 0;
	color: #fff;
	font-family: 'League Gothic';
	font-size: 20px;
	text-transform: uppercase;
	background: #000;
	padding: 10px 15px;
}
a.excerpt-more:hover {
	color: #f2513c;
	text-decoration: none;
}
.previous-post {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.previous-post a {
	font-family: 'League Gothic';
	font-size: 18px;
	padding: 10px 15px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #f2513c;
	background-image: none;
	border: none;
	filter: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-transform: uppercase;
}
.previous-post a:hover {
	text-decoration: none;
	background-image: none;
	filter: none;
	background-color: #d03c29;
}
.next-post {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.next-post a {	
	font-family: 'League Gothic';
	font-size: 18px;
	padding: 10px 15px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #f2513c;
	background-image: none;
	border: none;
	filter: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-transform: uppercase;
}
.next-post a:hover {
	text-decoration: none;
	background-image: none;
	filter: none;
	background-color: #d03c29;
}

/*==================================== TAXONOMY ========================================================*/

h2.entry-title {
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1em;
	font-size: 30px;
	font-family: 'League Gothic';
}
h2.entry-title a {
  color: #333333;
}
h2.entry-title a:hover {
  color: #ec2424;
	text-decoration: none;
}
article.post p, article.page p {
  font-size: 1.1em;
  line-height: 1.5em;
}

/*==================================== IMAGES ==========================================================*/

.alignnone {
	display: block;
  margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
  display:block;
  margin: 5px auto 5px auto;
}
.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float:left;
  margin: 5px 20px 20px 0;
}
.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
a img.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float:left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}
img.size-full {
	max-width: 100%;
	height: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 15px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin:0;
  max-width: 95%;
  padding:0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size:11px;
  line-height:17px;
  margin:0;
  padding:0 4px 5px;
}
.caption_title {
  font-size:16px;
}
.gallery-pagination {
  margin: 20px 0;
}
.gallery-pagination .previous-image a {
  float: left;
}
.gallery-pagination .next-image a {
  float: right;
}

/*==================================== META ============================================================*/

.entry-meta {
  color: #999;
  margin-top: 0;
  font-size: 0.85em;
}
footer.entry-meta {
  clear: both;
}
.edit-link {
  margin-bottom: 10px;
}
.edit-link a {
  color: #fff;
  background: #888;
  padding: 2px 4px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.edit-link a:visited {
  color: #fff;
}
.edit-link a:hover {
  text-decoration: none;
  color: #ccc;
}
.cyberchimps_article_share {
  float: right;
}

/*==================================== COMMENTS ========================================================*/

.comments-area {
  margin-bottom: 40px;
  padding: 15px;
  background: #fff;
	border-color: #ddd;
	border-style: double;
	border-width: 10px;
	-moz-border-image: url('images/border.png') 33% repeat;
	-webkit-border-image: url('images/border.png') 33% repeat;
	border-image: url('images/border.png') 33% repeat;
}
#comments .navigation {
  padding: 0 0 18px 0;
}
label[for="comment"] {
  display: block;
}
ol.commentlist {
  list-style: none;
}
ol.commentlist p {
  margin-left: 8px;
  clear: left; 
}
ol.commentlist li.comment {
  padding: 10px;
}
ol.commentlist li.comment div.vcard cite.fn {
  font-style: normal;
}
ol.commentlist li.comment div.vcard img.avatar {
  margin: 0 10px 10px 10px;
}
ol.commentlist li.comment div.comment-meta {
  font-size: 11px;
}
ol.commentlist li.comment div.comment-meta a {
  color: #888;
}
ol.commentlist li.comment div.reply {
  font-size: 11px;
  margin-left: 8px;
}
ol.commentlist li.comment div.reply a {
  font-weight: bold;
}
ol.commentlist li.comment ul.children {
  list-style: none;
  margin: 10px 0 0;
}
ol.commentlist li.comment ul.children li.depth-2 {
  margin: 0 0 10px 10px;
}
ol.commentlist li.comment ul.children li.depth-3 {
  margin: 0 0 10px 10px;
}
ol.commentlist li.comment ul.children li.depth-4 {
  margin: 0 0 10px 10px;
}
ol.commentlist li.even {
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
}
ol.commentlist li.odd {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
}
.comment, .trackback, .pingback {
  padding:10px;
  margin:10px 0 10px 0;
}
.odd {
  background:#f8f8f8;
}
#form-allowed-tags code {
  font-size:12px;
}
#respond input, #respond textarea {
  margin:0 5px 5px 0;
  overflow:auto;
}
#respond textarea {
  width:99%;
  height:150px;
}
.avatar {
  float:left;
}

/********************************************************************************************************************/
/******************************************** SIDEBAR & WIDGETS *****************************************************/
/********************************************************************************************************************/

.widget-container {
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
	border-color: #ddd;
	border-style: double;
	border-width: 10px;
	-moz-border-image: url('images/border.png') 33% repeat;
	-webkit-border-image: url('images/border.png') 33% repeat;
	border-image: url('images/border.png') 33% repeat;
}
h3.widget-title {
	font-family: 'League Gothic';
	font-size: 22px;
	text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1em;
}
.widget-container ul, .widget ul {
  margin-left: 5px;
}
.widget-container ul li, .widget ul li {
  font-size: 14px;
  line-height: 1.8em;
  list-style: none;
}
table#wp-calendar {
  width: 100%;
}
table#wp-calendar th {
	font-size: 14px;
}
table#wp-calendar td {
	font-size: 14px;
	width: 14.28571428571429%;
	padding: 5px 0;
  text-align: center;
}
table#wp-calendar td {
  text-align: center;
}
.widget-container .navbar-search {
	position: static;
}
.widget-container #searchform.pull-right {
	margin-right: 30px;
}
.widget-container #searchform input.input-medium {
	float: none;
	display: inline-block;
	background: #ddd;
	width: 100%;
	line-height: 2em;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

/*==================================== SEARCH FORM ====================================================*/

#searchform {
	margin-bottom: 5px;
}

/********************************************************************************************************************/
/******************************************** FOOTER ****************************************************************/
/********************************************************************************************************************/

section.full-width-container.footer-full-width {
	background: #202020;
	background: rgba(0,0,0,0.80);
}
#footer-widgets {
  margin: 40px 0;
}
#footer-widgets .widget-container {
  border: none;
	background: none;
	padding: 0;
}
#footer-widgets h3.widget-title {
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-family: 'League Gothic';
	color: #a2a2a2;
	text-transform: uppercase;
	border-bottom: 2px dashed #a2a2a2;
}
#footer-widgets .widget-container a {
	color: #fff;
}
.site-footer-full-width {
	background: #000;
	background: rgba(0,0,0,0.2);
}
.site-footer #copyright {
	color: #a2a2a2;
	float: left;
	margin: 40px 0;
}
.site-footer #social {
	float: right;
	margin: 30px 0;
}
.site-footer #social a {
	margin-left: 5px;
}


/********************************************************************************************************************/
/******************************************** WORDPRESS DEFAULTS ****************************************************/
/********************************************************************************************************************/

.sticky{}
.gallery-caption{}
.bypostauthor{}

/********************************************************************************************************************/
/******************************************** ELEMENTS **************************************************************/
/********************************************************************************************************************/

/*==================================== CALLOUT ====================================================*/

#callout-container {
  margin-bottom: 40px;
}
#callout {
  padding: 20px;
	background: #fff;
	border-color: #ddd;
	border-style: double;
	border-width: 10px;
	-moz-border-image: url('images/border.png') 33% repeat;
	-webkit-border-image: url('images/border.png') 33% repeat;
	border-image: url('images/border.png') 33% repeat;
}
.callout-text h2.callout-title {
  font-size: 40px;
	font-family: 'League Gothic';
	text-transform: uppercase;
}
.callout-text p {
  font-size: 1.2em;
}
#callout_button a {
 	margin-top: 5px;
  float: right;
}
#callout-container .btn-primary, input[type="submit"], input[type="reset"], input[type="button"] {
	float: right;
	margin-top: 20px;
	padding: 15px 20px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #d03c29;
	background-image: none;
	border: none;
	filter: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-family: 'League Gothic';
	font-size: 28px;
	text-transform: uppercase;
}
input[type="submit"], input[type="reset"], input[type="button"] {
	padding: 10px 15px;
	font-size: 20px;
}
input[type="submit"], input[type="reset"], input[type="button"] {
	float: none;
}
#callout-container .btn-primary:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	background-image: none;
	background-color: #d03c29;
	border: none;
}

/*==================================== WIDGET BOXES ===============================================*/

#widget-boxes-container .box {
  padding: 20px;
  margin-bottom: 40px;
	background: #fff;
	border-color: #ddd;
	border-style: double;
	border-width: 10px;
	-moz-border-image: url('images/border.png') 33% repeat;
	-webkit-border-image: url('images/border.png') 33% repeat;
	border-image: url('images/border.png') 33% repeat;
}
h2.box-widget-title {
  font-size: 1.4em;
  text-align: center;
}
.box p {
  font-size: 1.1em;
  line-height: 1.2em;
}

/*==================================== BOXES ======================================================*/

#boxes-container .box {
  padding: 20px;
  margin-bottom: 40px;
  background: #fff;
	border-color: #ddd;
	border-style: double;
	border-width: 10px;
	-moz-border-image: url('images/border.png') 33% repeat;
	-webkit-border-image: url('images/border.png') 33% repeat;
	border-image: url('images/border.png') 33% repeat;
}
#boxes-container .box a {
  display: block;
  width: 100%;
  text-align: center;
}
.box-no-url {
	cursor: default;
}

/*==================================== SLIDER ======================================================*/

#slider-lite {
	margin-bottom: 40px;
}

/*==================================== RECENT POSTS ================================================*/

#recent_posts {
	padding: 20px;
	margin-bottom: 40px;
	background: #fff;
	border-color: #ddd;
	border-style: double;
	border-width: 10px;
	-moz-border-image: url('images/border.png') 33% repeat;
	-webkit-border-image: url('images/border.png') 33% repeat;
	border-image: url('images/border.png') 33% repeat;
}

/*===================================== PRODUCT ====================================================*/

.product-sub-container {
	margin-bottom: 40px;
	background: #fff;
	border-color: #ddd;
	border-style: double;
	border-width: 10px;
	-moz-border-image: url('images/border.png') 33% repeat;
	-webkit-border-image: url('images/border.png') 33% repeat;
	border-image: url('images/border.png') 33% repeat;
}

/*==================================== BREADCRUMBS =================================================*/

.breadcrumbs {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 1.1em;
}

/*==================================== PAGINATION ==================================================*/

.pagination ul li a {
  background: #fff;
}