/*
Theme Name: jigeshpatadia
Author: Jigesh Patadia
Author URI: http://jigeshpatadia.com
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: custom

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@import url('css/bootstrap.min.css'); 
body { 
     padding-top: 60px; 
     padding-bottom: 40px; 
}

