@charset "utf-8";
/* CSS Document */

body {
	background-color:#f2f2f2;
	margin: 0 auto;
}

h1, h2, p, footer img {
	text-align: center;
}

#progress-container{
	position: relative;
	margin:20px 0;
}

#html5-progress{
	position:absolute;
	left:4%;
	top:-22px;
}

#seo-keywords{
	display: none;	
}

footer{
	margin: 0 auto;	
}