.content-border {
  -moz-border-image: none;
  -webkit-border-image: none;
  border-image: none;
  border: 3px solid #9e9e9e;
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}
body {
  background: url('images/aqua_bg.jpg');
}
a {
  color: #2bb888;
}
a:hover {
  color: #208764;
}
/* Nav */
.full-width-container #header_nav_container {
  background-color: #000000;
}
.full-width-container .header-image-banner {
  background-color: #000000;
}
.main-navigation .nav > li {
  border-left: 1px solid #767674;
}
.main-navigation .nav li ul li a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #2bb888;
}
@media (max-width: 979px) {
  .navbar .container {
    background-color: #000000;
  }
  .navbar .btn-navbar {
    background-color: #000000;
    background-image: none;
    border-color: none;
    filter: none;
  }
  .navbar .btn-navbar:hover,
  .navbar .btn-navbar:active,
  .navbar .btn-navbar.active {
    background-color: #333333;
  }
  .navbar .container .nav-collapse.in.collapse {
    background-color: #000000;
  }
  .main-navigation .nav li ul li a:hover {
    color: #fff;
  }
  .nav-collapse .dropdown-menu .active > a {
    color: #fff;
    text-decoration: underline;
  }
  .main-navigation .nav > li {
    border-left: none;
  }
}
/* content */
article.post,
article.page,
article.attachment {
  margin-bottom: 40px;
  padding: 20px;
  -moz-border-image: none;
  -webkit-border-image: none;
  border-image: none;
  border: 3px solid #9e9e9e;
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}
#sidebar .widget-container {
  -moz-border-image: none;
  -webkit-border-image: none;
  border-image: none;
  border: 3px solid #9e9e9e;
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}
.comments-area {
  -moz-border-image: none;
  -webkit-border-image: none;
  border-image: none;
  border: 3px solid #9e9e9e;
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}
.previous-post a {
  background-color: #2bb888;
}
.previous-post a:hover {
  color: #fff;
  background-color: #208764;
}
.next-post a {
  background-color: #2bb888;
}
.next-post a:hover {
  color: #fff;
  background-color: #208764;
}
/* elements */
#callout,
#widget-boxes-container .box,
#boxes-container .box,
#recent_posts,
.product-sub-container {
  -moz-border-image: none;
  -webkit-border-image: none;
  border-image: none;
  border: 3px solid #9e9e9e;
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}
#callout-container .btn-primary,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2bb888;
}
#callout-container .btn-primary:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-image: none;
  background-color: #208764;
}
