/* CSS crunched with Crunch - http://crunchapp.net/ */
/*LESS*/
/* AQUA 
@nav-bg: none;
@nav-bg-color: #000;
@nav-border: #767674;
@links: #2bb888;
@hover: #208764;
@next-link: #2bb888; 
.content-border {
	-moz-border-image: none;
	-webkit-border-image: none;
	border-image: none;
	border: 3px solid #9e9e9e;
	-webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}
*/
/* BLUE
@nav-bg: none;
@nav-bg-color: #000;
@nav-border: #767674;
@links: #1481af;
@hover: darken( @links, 20% );
@next-link: @links; 
.content-border {
	-moz-border-image: none;
	-webkit-border-image: none;
	border-image: none;
	border: 3px solid #9e9e9e;
	-webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}
*/
.content-border {
  -moz-border-image: none;
  -webkit-border-image: none;
  border-image: none;
  border: none;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}
body {
  background: url('images/purple_bg.jpg');
}
a {
  color: #9b6ba7;
}
a:hover {
  color: #63406c;
}
/* Nav */
.full-width-container #header_nav_container {
  background-color: #9b6ba7;
}
.full-width-container .header-image-banner {
  background-color: #9b6ba7;
}
.main-navigation .nav > li {
  border-left: 1px solid #c6abcd;
}
.main-navigation .nav li ul li a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #9b6ba7;
}
@media (max-width: 979px) {
  .navbar .container {
    background-color: #9b6ba7;
  }
  .navbar .btn-navbar {
    background-color: #9b6ba7;
    background-image: none;
    border-color: none;
    filter: none;
  }
  .navbar .btn-navbar:hover,
  .navbar .btn-navbar:active,
  .navbar .btn-navbar.active {
    background-color: #c6abcd;
  }
  .navbar .container .nav-collapse.in.collapse {
    background-color: #9b6ba7;
  }
  .main-navigation .nav li ul li a:hover {
    color: #fff;
  }
  .nav-collapse .dropdown-menu .active > a {
    color: #fff;
    text-decoration: underline;
  }
  .main-navigation .nav > li {
    border-left: none;
  }
}
/* content */
article.post,
article.page,
article.attachment {
  margin-bottom: 40px;
  padding: 20px;
  -moz-border-image: none;
  -webkit-border-image: none;
  border-image: none;
  border: none;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}
#sidebar .widget-container {
  -moz-border-image: none;
  -webkit-border-image: none;
  border-image: none;
  border: none;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}
.comments-area {
  -moz-border-image: none;
  -webkit-border-image: none;
  border-image: none;
  border: none;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}
.previous-post a {
  background-color: #9b6ba7;
}
.previous-post a:hover {
  color: #fff;
  background-color: #63406c;
}
.next-post a {
  background-color: #9b6ba7;
}
.next-post a:hover {
  color: #fff;
  background-color: #63406c;
}
/* elements */
#callout,
#widget-boxes-container .box,
#boxes-container .box,
#recent_posts,
.product-sub-container {
  -moz-border-image: none;
  -webkit-border-image: none;
  border-image: none;
  border: none;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}
#callout-container .btn-primary,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #9b6ba7;
}
#callout-container .btn-primary:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-image: none;
  background-color: #63406c;
}
